
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif; 
}
/* navigation section started here */
.nav{
    display: flex;
    justify-content: center;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
    /* justify-content: space-between; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* main styles */
main{
    max-width: 1440px;
    margin: 90px auto;
}
/* banner section started here */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272; 
}
.btn-primary{
    border-radius: 8px;
    background: #ff900e;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
    
}
.btn-primary:hover{
    color: blue;
}
.banner-img{
    width: 100%;
    margin-top: 20px;
}

    /* teams features section started here */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;

}
.teams-title .text-feature{
    color: #ff900e;
    font-weight: 700px;
}
/* facts section started here */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: #424242;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px;
}
/* sponsors style started here */
.sponsors{
    text-align: center;
}
.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}
.sponsors-img img{
    width: 165px;
}







/* responsive media query   */
/* media query for mobile or small device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
        
        }
        nav,
        .teams-container,
        .facts-card-container,
        .sponsors-img
        {
            flex-direction: column;
        }
        .teams-img{
            grid-template-columns: 1fr;
        }
        .teams-content, .facts-card-container{
            padding-right: 20px;
            padding-left: 20px;
     }
        .facts-card-container{
            gap: 20px;
    }
}
    /* tablet or medium devices */
    @media screen and (min-width:576px) and (max-width:960px) {
        header{
            padding: 50px;
        }
        nav,
        .teams-container
        {
            flex-direction: column;
        }

    }
 



        
    
